* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: hsl(0, 0%, 5%);
    --secondary: hsl(0, 0%, 15%);
    --accent: hsl(200, 70%, 50%);
    --accent-light: hsl(200, 70%, 70%);
    --white: hsl(0, 0%, 100%);
    --ff: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--ff);
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    line-height: 1.6;
    color: var(--white);
}

a {
    text-decoration: none;
}

header {
    width: 20rem;
    height: fit-content;
    background: var(--secondary);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 33%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: var(--white);
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
}

nav ul li a:hover {
    color: var(--accent);
}
.about-container {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 400px;
    height: 100%;
    border-bottom: 10px solid var(--white);
    border-radius: 5%;
}

#img-container {
    grid-area: 1 / 1 / 3 / 2;
}

#name-and-position {
    grid-area: 1 / 2 / 2 / 3;
}

#about {
    grid-area: 2 / 2 / 3 / 3;
}

#about h2 {
    font-size: 2rem;
    text-align: left;
    color: var(--accent-light)
}

#about p {
    font-size: 0.8rem;
    text-align: left;
    text-justify: auto;
}

#welcome-section {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.4rem;
    justify-content: left;
    text-align: center;
    padding: 0 2rem;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
}

#name-and-position h1 {
    font-size: 3rem;
    color: var(--accent);
    text-align: left;
}

#name-and-position h3 {
    font-size: 1.5rem;
    text-align: left;
}

#project-section {
    padding: 4rem 2rem;
    background: linear-gradient(90deg, var(--primary), var(--secondary))
}

#project-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--accent);
    border-bottom: 2px solid var(--white);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-tile {
    background: var(--secondary);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-tile h3 {
    margin-bottom: 1rem;
}

.project-tile a {
    color: var(--white);
    font-weight: bold;
    background: linear-gradient(90deg, var(--accent), var(--accent-light));
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease, border 0.3s ease;
    border: 1px solid transparent;
}

.project-tile a:hover {
    background: var(--secondary);
    border: 1px solid var(--accent);

}

#contact {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--secondary);
}

#contact ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.profile-link {
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

svg {
    color: var(--white);
    cursor: pointer;
    transition: color 0.3s ease;
}

.profile-link:hover,
svg:hover {
    color: var(--accent);
}

@media (max-width: 800px) {
    header {
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
    }
    #welcome-section {
        display: flex;
        flex-direction: column;
    }
    #img-container {
        display: none;
    }
    #about {
        margin: 0;
    }
    #name-and-position h1 {
        font-size: 2.5rem;
        margin: 0;
    }

    #name-and-position h3 {
        font-size: 1.2rem;
        margin: 0;
    }

    #project-section h2 {
        font-size: 2rem;
    }
}
@media (max-width: 1000px){
    #img-container {
        display: none;
    }
}
